header {
    background-color: rgb(78, 155, 255);
    background-image: url('img/pattern.png');
    background-position: center;
    background-size: 35%;
    height: 100px;
    position: relative;
}

.logo-banner {
    height: 50px;
    position: absolute;
    bottom: 0;
}

.font-light-grey{
    color: #7f7f7f;
}

.font-light-blue{
    color: #25aae4;
}

.font-color-white{
    color: white;
}

.highlighted {
    background-color: yellow;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: #20a8e4;
}

.bg-light-blue{
    background-color: #b0e4f1;
}

/*tr:nth-child(odd ) {
    background-color: rgb(177, 229, 242);
}
*/

.photo-uno {
    height: 200px;
    width: 300px;
    background-image: url(img/monitor.jpg);
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.photo-due {
    background-image: url(img/graph.jpg);
    height: 200px;
    width: 300px;
    background-position: left;
    background-repeat: no-repeat;
}

.footer-title {
    color: grey;
}

.photo-uno span{
    color: white;
    font-weight:bolder;
    margin-left: 10px;
}

.photo-due span {
    color: white;
    font-weight:bolder;
    margin-left: 10px;
}